Repository hmcts/sscs-ccd-definitions, pull requests merged in 2021-08, with the labels that each got.

#743 Remove extra dependencies
  .gitignore
  charts/sscs-ccd-definitions/Chart.yaml
  package.json
Labels: ns:sscs, rel:sscs-ccd-definitions-pr-743, prd:sscs

#744 No image supplied to the chart on master build
  charts/sscs-ccd-definitions/values.aat.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-definitions-pr-744

#745 SSCS-9491-amend note, increase version
  benefit/VERSION.yaml
  benefit/data/sheets/CaseType/CaseType.json
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-definitions-pr-745

#746 SSCS-9545 Release other benefits to prod
  benefit/data/sheets/CaseType/CaseType.json
  benefit/data/sheets/FixedLists/FixedLists-attendace-allowance-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-bereavement-benefit-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-bereavement-support-payment-scheme-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-carers-allowance-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-dla-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-iidb-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-income-support-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-industrial-death-benefit-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-jsa-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-maternity-allowance-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-other-benefits-generic-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-pension-credits-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-retirement-pension-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists-socialfund-nonprod.json
  benefit/data/sheets/FixedLists/FixedLists.json
Labels: DO_NO_MERGE, ns:sscs, prd:sscs, rel:sscs-ccd-definitions-pr-746
